header {
  background-color: coral;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h2 {
  margin: 0;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  background-color: grey;
  padding: 1em 2em;
}
aside {
  grid-area: aside;
}
footer {
  background-color: coral;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-template-rows: 80px auto 70px;
}

@media screen and (min-width: 450px) and (max-width: 758px) {
  .grid {
    grid-template-areas:
      "header header header"
      "nav main main"
      "aside aside aside"
      "footer footer footer";
    grid-template-rows: 80px auto auto 70px;
  }
  aside ul {
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: initial;
  }
  header,
  footer {
    padding: 1em 0;
  }
}
