.grid {
  height: 100vh;
  display: grid;
  grid:
    repeat(8, 1fr) /
    repeat(4, 1fr);

  text-align: center;
  color: white;
  gap: 10px;
}

header {
  background-color: rgb(126, 0, 126);
  grid-column: span 4;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0;
}
nav {
  grid-row: 3 / span 3;
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
a {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  grid-column: 2 / span 2;
  grid-row: 3 / span 5;
  background-color: #fff;
}

footer {
  background-color: blue;
  grid-row: 8 / 9;
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  background-color: blue;
  grid-column: -2;
  grid-row: 3 / 8;
}

@media screen and (max-width: 768px) {
  aside {
    grid-row: 6 / 8;
    grid-column: 1 / 5;
  }
}

@media screen and (max-width: 450px) {
  nav {
    grid-row: 3 / 6;
    grid-column: 1 / 5;
  }
}
