body {
  color: #555;
  font-weight: lighter;
}
h1 {
  margin: 0;
  font-weight: inherit;
}

h2 {
  font-weight: inherit;
}
header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px;
  font-weight: inherit;
}

header > img {
  height: 100%;
  margin: 0 30px 0 0;
}

.grid > * {
  background-color: #efefef;
  border-radius: 5px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin: 10px;
}
nav {
  display: flex;
  align-items: center;
  height: 80px;
  grid-area: nav;
  gap: 30px;
}

.login {
  grid-area: login;
}
.help {
  grid-area: help;
}
.content {
  grid-area: content;
}

.grid {
  display: grid;
  /* gap: 20px; */
  grid-template-areas:
    "nav nav"
    "login content"
    "help content";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 3fr;
  /* justify-items: center; */
}

footer {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 764px) {
  .grid {
    display: block;
    margin: 10px 0;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "nav"
      "login"
      "content"; */
    /* "help"; */
    /* grid-template-columns: initial; */
  }

  nav {
    display: flex;
    flex-direction: column;
    height: auto;
    grid-area: nav;
    gap: 30px;
  }

  .help {
    display: none;
  }
}
