body {
  color: #555;
  font-weight: lighter;
}
h1 {
  margin: 0;
  font-weight: inherit;
}
header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px;
  font-weight: inherit;
}

header > img {
  height: 100%;
  margin: 0 30px 0 0;
}

nav {
  display: flex;
  gap: 20px;
  background-color: #efefef;
  border-radius: 5px;
  padding: 20px;
}
